commands:
  set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_set_time_zone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      ln -sf /usr/share/zoneinfo/Asia/Seoul /etc/localtime
      echo "Asia/Seoul" > /etc/timezone
      timedatectl set-timezone Asia/Seoul