<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.highfives.grid.approval.query.repository.ApprovalMapper">

    <resultMap id="approvalMap" type="org.highfives.grid.approval.query.dto.ApprovalEmpDTO">
        <id property="id" column="id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="content" column="content"/>
        <result property="destination" column="destination"/>
        <result property="originName" column="origin_name"/>
        <result property="renameName" column="rename_name"/>
        <result property="path" column="path"/>
        <result property="infoId" column="info_id"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="writeTime" column="write_time"/>
        <result property="cancelYn" column="cancel_yn"/>
        <result property="cancelDocId" column="cancel_document_id"/>
        <result property="employeeId" column="requester_id"/>
    </resultMap>

    <resultMap id="oApprovalMap" type="org.highfives.grid.approval.common.dto.OvertimeApprovalDTO">
        <id property="id" column="id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="content" column="content"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="writeTime" column="write_time"/>
        <result property="cancelYn" column="cancel_yn"/>
        <result property="cancelDocId" column="cancel_document_id"/>
        <result property="requesterId" column="requester_id"/>
    </resultMap>

    <select id="findOInWeekByEmployeeId" resultMap="oApprovalMap" parameterType="org.highfives.grid.approval.common.dto.OvertimeInWeekDTO">
         SELECT
                start_time,
                end_time
           FROM overtime_approval
          WHERE requester_id = #{requesterId}
            AND approval_status = "A"
            AND cancel_yn = "N"
            AND cancel_document_id = 0
            AND (STR_TO_DATE(start_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{sunday} AND #{saturday});
    </select>

    <select id="findAllBTApproval" resultMap="approvalMap">
         SELECT
                id,
                start_time,
                end_time,
                content,
                approval_status,
                write_time,
                cancel_yn,
                cancel_document_id,
                requester_id
          FROM  bt_approval
         WHERE  approval_status = 'A'
           AND  cancel_yn = 'N'
           AND  cancel_document_id = 0
    </select>

    <select id="findAllBTApprovalByEmployeeId" resultMap="approvalMap" parameterType="int">
        SELECT
                a.employee_name,
                a.employee_number,
                b.id,
                b.start_time,
                b.end_time,
                b.content,
                b.destination,
                b.approval_status,
                b.write_time,
                b.cancel_yn,
                b.cancel_document_id,
                b.requester_id
          FROM  employee a
          JOIN  bt_approval b
            ON  a.id = b.requester_id
         WHERE  a.id = #{employeeId}
           AND  b.approval_status = 'A'
           AND  b.cancel_yn = 'N'
           AND  b.cancel_document_id = 0;
    </select>

    <select id="findAllOApprovalByEmployeeId" resultMap="approvalMap" parameterType="int">
        SELECT
                a.employee_name,
                a.employee_number,
                b.id,
                b.start_time,
                b.end_time,
                b.content,
                b.approval_status,
                b.write_time,
                b.cancel_yn,
                b.cancel_document_id,
                b.requester_id
          FROM  employee a
          JOIN  overtime_approval b
            ON  a.id = b.requester_id
         WHERE  a.id = #{employeeId}
           AND  b.approval_status = 'A'
           AND  b.cancel_yn = 'N'
           AND  b.cancel_document_id = 0;
    </select>

    <select id="findAllRWApprovalByEmployeeId" resultMap="approvalMap" parameterType="int">
        SELECT
                a.employee_name,
                a.employee_number,
                b.id,
                b.start_time,
                b.end_time,
                b.content,
                b.origin_name,
                b.rename_name,
                b.path,
                b.approval_status,
                b.write_time,
                b.cancel_yn,
                b.cancel_document_id,
                b.requester_id
          FROM  employee a
          JOIN  rw_approval b
            ON  a.id = b.requester_id
         WHERE  a.id = #{employeeId}
           AND  b.approval_status = 'A'
           AND  b.cancel_yn = 'N'
           AND  b.cancel_document_id = 0;
    </select>

    <select id="findAllVApprovalByEmployeeId" resultMap="approvalMap" parameterType="int">
        SELECT
                a.employee_name,
                a.employee_number,
                b.id,
                b.start_time,
                b.end_time,
                b.info_id,
                b.content,
                b.approval_status,
                b.write_time,
                b.cancel_yn,
                b.cancel_document_id,
                b.requester_id
          FROM  employee a
          JOIN  vacation_approval b
            ON  a.id = b.requester_id
         WHERE  a.id = #{employeeId}
           AND  b.approval_status = 'A'
           AND  b.cancel_yn = 'N'
           AND  b.cancel_document_id = 0;
    </select>

    <select id="findBTDetailByApprovalId" resultMap="approvalMap" parameterType="int">
        SELECT
                id,
                start_time,
                end_time,
                content,
                destination,
                approval_status,
                write_time,
                cancel_yn,
                cancel_document_id,
                requester_id
          FROM  bt_approval
         WHERE  id = #{approvalId};
    </select>

    <select id="findODetailByApprovalId" resultMap="approvalMap" parameterType="int">
        SELECT
                id,
                start_time,
                end_time,
                content,
                approval_status,
                write_time,
                cancel_yn,
                cancel_document_id,
                requester_id
          FROM  overtime_approval
         WHERE  id = #{approvalId};
    </select>

    <select id="findRWDetailByApprovalId" resultMap="approvalMap" parameterType="int">
        SELECT
                id,
                start_time,
                end_time,
                content,
                origin_name,
                rename_name,
                path,
                approval_status,
                write_time,
                cancel_yn,
                cancel_document_id,
                requester_id
          FROM  rw_approval
         WHERE  id = #{approvalId};
    </select>

    <select id="findVDetailByApprovalId" resultMap="approvalMap" parameterType="int">
        SELECT
                id,
                start_time,
                end_time,
                content,
                info_id,
                approval_status,
                write_time,
                cancel_yn,
                cancel_document_id,
                requester_id
          FROM  vacation_approval
         WHERE  id = #{approvalId};
    </select>
</mapper>