<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.highfives.grid.work.query.repository.AdTimeMapper">

    <resultMap id="adTimeResultMap" type="org.highfives.grid.work.common.dto.AdTimeDTO">
        <id property="id" column="ID"/>
        <result property="startTime" column="START_TIME"/>
        <result property="endTime" column="END_TIME"/>
        <result property="employeeId" column="EMPLOYEE_ID"/>
    </resultMap>

    <select id="selectAdTimeByEmployee" resultMap="adTimeResultMap" parameterType="int">
        SELECT
                ID
              , START_TIME
              , END_TIME
              , EMPLOYEE_ID
          FROM AD_TIME
         WHERE EMPLOYEE_ID = #{employeeId}
    </select>

    <select id="selectAdTimeAll" resultMap="adTimeResultMap">
        SELECT
                ID
        , START_TIME
        , END_TIME
        , EMPLOYEE_ID
        FROM AD_TIME
    </select>

</mapper>