<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.highfives.grid.review.query.repository.ReviewMapper">

    <resultMap id="ReviewHistoryAndScoreResultMap" type="org.highfives.grid.review.query.aggregate.ReviewHistoryAndScore">
        <id property="id" column="HISTORY_ID"/>
        <result property="content" column="CONTENT"/>
        <result property="reviewStatus" column="REVIEW_STATUS"/>
        <result property="writeTime" column="WRITE_TIME"/>
        <result property="year" column="YEAR"/>
        <result property="quarter" column="QUARTER"/>
        <result property="reviewerId" column="REVIEWER_ID"/>
        <result property="revieweeId" column="REVIEWEE_ID"/>
        <collection property="reviewInfo" ofType="org.highfives.grid.review.query.aggregate.Review" javaType="java.util.List">
            <id property="id" column="MEMBER_REVIEW_ID"/>
            <id property="historyId" column="HISTORY_ID"/>
            <id property="reviewId" column="REVIEW_ID"/>
            <result property="score" column="SCORE"/>
        </collection>
    </resultMap>

    <select id="findHistoryAndScoreById" resultMap="ReviewHistoryAndScoreResultMap" parameterType="int">
        SELECT
        A.ID AS HISTORY_ID,
        A.CONTENT,
        A.WRITE_TIME ,
        A.YEAR,
        A.QUARTER,
        A.REVIEW_STATUS,
        A.REVIEWER_ID,
        A.REVIEWEE_ID,
        B.ID AS MEMBER_REVIEW_ID,
        B.HISTORY_ID,
        B.REVIEW_ID,
        B.SCORE
        FROM
        member_review_history A
        JOIN
        member_review B ON A.ID = B.HISTORY_ID
        WHERE A.ID = #{historyId}
        AND A.REVIEWEE_ID = #{revieweeId}
    </select>

    <resultMap id="ReviewHistoryResultMap" type="org.highfives.grid.review.query.aggregate.ReviewHistory">
        <id property="id" column="HISTORY_ID"/>
        <result property="content" column="CONTENT"/>
        <result property="reviewStatus" column="REVIEW_STATUS"/>
        <result property="writeTime" column="WRITE_TIME"/>
        <result property="year" column="YEAR"/>
        <result property="quarter" column="QUARTER"/>
        <result property="reviewerId" column="REVIEWER_ID"/>
        <result property="revieweeId" column="REVIEWEE_ID"/>
    </resultMap>

    <select id="findAssignedReviewByReviewerId" resultMap="ReviewHistoryResultMap" parameterType="int">
        SELECT
        A.ID AS HISTORY_ID,
        A.CONTENT,
        A.WRITE_TIME ,
        A.YEAR,
        A.REVIEW_STATUS,
        A.QUARTER,
        A.REVIEWER_ID,
        A.REVIEWEE_ID
        FROM
        member_review_history A
        WHERE A.REVIEWER_ID = #{reviewerId}
    </select>

    <select id="findHistoryList" resultMap="ReviewHistoryResultMap" parameterType="int">
        SELECT
        A.ID AS HISTORY_ID,
        A.CONTENT,
        A.WRITE_TIME ,
        A.YEAR,
        A.QUARTER,
        A.REVIEWER_ID,
        A.REVIEWEE_ID
        FROM
        member_review_history A
    </select>

    <select id="findMyReviewHistory" resultMap="ReviewHistoryResultMap" parameterType="int">
        SELECT
        A.ID AS HISTORY_ID,
        A.CONTENT,
        A.WRITE_TIME ,
        A.REVIEW_STATUS,
        A.YEAR,
        A.QUARTER,
        A.REVIEWER_ID,
        A.REVIEWEE_ID
        FROM
        member_review_history A
        WHERE A.REVIEWEE_ID = #{revieweeId}
    </select>

    <resultMap id="ReviewListResultMap" type="org.highfives.grid.review.query.aggregate.ReviewList">
        <id property="id" column="ID"/>
        <result property="listName" column="LIST_NAME"/>
    </resultMap>

    <select id="findReviewList" resultMap="ReviewListResultMap" parameterType="int">
         SELECT
         A.ID
        ,A.LIST_NAME
         FROM
        member_review_list A
         WHERE A.ID = #{reviewId}
    </select>

    <resultMap id="findEmployeesHistoryResultMap" type="org.highfives.grid.review.query.aggregate.ReviewEmployeeHistory">
        <id property="id" column="ID"/>
        <result property="content" column="CONTENT"/>
        <result property="reviewStatus" column="REVIEW_STATUS"/>
        <result property="writeTime" column="WRITE_TIME"/>
        <result property="year" column="YEAR"/>
        <result property="quarter" column="QUARTER"/>
        <result property="reviewerId" column="REVIEWER_ID"/>
        <result property="revieweeId" column="REVIEWEE_ID"/>
        <result property="revieweeName" column="REVIEWEE_NAME"/>
        <result property="reviewerName" column="REVIEWER_NAME"/>
        <result property="departmentName" column="DEPARTMENT_NAME"/>

    </resultMap>

    <select id="findEmployeesHistory" resultMap="findEmployeesHistoryResultMap" parameterType="int">
        SELECT
        A.ID,
        A.CONTENT,
        A.REVIEW_STATUS,
        A.WRITE_TIME,
        A.YEAR,
        A.QUARTER,
        A.REVIEWER_ID,
        A.REVIEWEE_ID,
        B.ID AS employee_id,
        B.EMPLOYEE_NAME AS REVIEWEE_NAME,
        B.DEPARTMENT_ID,
        D.DEPARTMENT_NAME AS DEPARTMENT_NAME,
        C.ID AS employee2_id,
        C.EMPLOYEE_NAME AS REVIEWER_NAME
        FROM
        member_review_history A
        JOIN employee B ON A.REVIEWEE_ID = B.ID
        JOIN employee C ON A.REVIEWER_ID = C.ID
        JOIN department D ON B.DEPARTMENT_ID = D.ID
        ORDER BY A.ID DESC
    </select>




</mapper>