<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.highfives.grid.department.query.dao.DepartmentMapper">

    <resultMap id="DepartmentResultMap" type="org.highfives.grid.department.entity.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="member_cnt" property="memberCnt"/>
        <result column="department_status" property="departmentStatus"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="high_department" property="highDepartment"/>
        <result column="leader_id" property="leaderId"/>
    </resultMap>

    <select id="findDepartmentById" resultMap="DepartmentResultMap" parameterType="int">

    </select>
</mapper>